@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  display: flex;
}

aside {
  width: 300px;
  border-right: solid 1px gray;
}

.content {
  width: 100%;
}

.view-map {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.view-map .description {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-20px);
  margin: 0 40px;
}

.view-map .map {
  position: relative;
  border: solid 0.5px lightgray;
  flex: 0 0 auto;
  width: 100vh;
  height: 100%;
}

.map-inner {
  position: relative;
}

.map-inner svg {
  height: 100%;
  width: 100%;
}

.map-refresh.active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
